

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.texto-header {
    text-align: center;
    padding: 20px;
}

main {
    margin: 20px;
}

.tendencias,
.mas-vendido {
    margin-bottom: 40px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.map {
    margin-top: 20px;
}


.tendencias article,
.mas-vendido article {
    margin: 10px;
    flex: 0 0 calc(50% - 20px);
    box-sizing: border-box;
}

.tendencias article img,
.mas-vendido article img {
    max-width: 100%;
    height: auto;
    display: block;
}

.mas-vendido article {
    margin: 10px;
    flex: 0 0 calc(25% - 20px); 
    box-sizing: border-box;
}

.mas-vendido article img {
    max-width: 100%;
    height: auto;
    display: block;
}

.cuadrado-imagenes {
    display: flex;
    justify-content: space-between;
}


.cuadrado-imagenes article {
    box-sizing: border-box;
}