body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

h2 {
    color: #333;
}

p {
    color: #555;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}


.footerquienessomos a{
    color: rgb(8, 1, 1);
    text-decoration: none;
    margin-left: 0.7em;
    font-size: 2em;
    padding-top: 1%;
   
   }



.footerquienessomos{

    text-align: center;
    width: 100%;
    display: block;
    color: rgb(250, 235, 215);
    margin-top: 20px;
    height: 80px;
    background-color: rgb(30, 252, 200);

}




